header
    z-index 1
    position absolute
    top 0
    width 100% 
    & > div
        max-width 600px
        padding 100px 0 100px 0
        color white
        a
          font-size 0.8em
          letter-spacing 0.08em
          color rgba(255,255,255,0.85)
          line-height 30px
          padding 7px 14px
          border 1px solid rgba(255,255,255,0.3)
          border-radius 2em
          transition all 0.3s ease
          &:hover
            background white
            color Gray
    p
        font-size 24px
        margin-bottom 5px
        font-family Times New Roman    

.stickyHead
    width 100%
    height navbarheight
    position fixed
    top 0
    left 0
    z-index 4

.stickyImgHead
    width 100%
    height navbarheight
    position fixed
    top 0
    left 0
    z-index 4

        
.cropImg 
    z-index 0
    position fixed
    top 0px
    left 0px
    height 70px
    width 100%
    background-position 0px 100%
    background-size cover
    background-repeat no-repeat
    
    
    /*
    position relative
    display inline-block
    width 100%
    height 100%        
    background-size cover
    background-repeat no-repeat
    background-position 0 100%*/

.blurImg     
    position relative
    width 100%
    height 420px
    z-index -1
    top 0
    left 0
    overflow hidden
    & > div
        position fixed
        width 100%
        height 420px
        background-repeat no-repeat
        background-size cover
        background-position center center
        
/*.stickyHead
    width 100%
    height navbarheight
    position fixed
    top 0
    left 0
    z-index 4
    
.blurImg     
    position relative
    width 100%
    height 420px
    z-index -1
    top 0
    left 0
    overflow hidden
    & > div
        position fixed
        width 100%
        height 420px
        background-repeat no-repeat
        background-size cover
        background-position center center*/




//background-image url('http://i63.tinypic.com/15gxfmv.jpg' 'http://i65.tinypic.com/2yv6nup.jpg')
//background-image url('http://i65.tinypic.com/2yv6nup.jpg')