// Descriptive color variables

white         =  #fff
black         =  #000
grey          =  #878787
regent-st-blue = #add8e6
river-bed     = #48525c
yellow-orange = #ffa949
green = red

// Functional color variables

color-prim = green
color-sec = #48525c

color-text-light = white
color-text-base = grey

color-border-light = lighten(grey, 35%)

color-shadow = rgba(black,.8)
color-body = white

// Font stacks

stack-sans-serif = Helvetica, Arial, sans-serif
stack-helvetica = 'Helvetica Neue', stack-sans-serif
stack-abolition = 'Abolition Regular', stack-sans-serif
stack-yanonek = 'Yanonek', stack-sans-serif

// Border radius

borad = 10px

// Navigationbar height

navbarheight = 60px

// Asset paths

path-img = '../img'
path-font = '../fonts'

// Media query breakpoints

brk-narrow = '(max-width: 768px)'
brk-wide = '(max-width: 1024px)'

//font-faces
//   fontface("YanoneK", "https://cdn.infographizm.com/fonts/yanonekaffeesatz/yanonekaffeesatz-light-webfont", 300, normal, eot woff2 woff truetype svg, "Yanone Kaffeesatz Light", "yanone_kaffeesatzlight")
@font-face
   font-family Yanonek
   font-weight 300
   font-style normal
   src url(https://cdn.infographizm.com/fonts/yanonekaffeesatz/yanonekaffeesatz-light-webfont)